<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<title>todoList</title>
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>
	<!-- <div class="g-main g-main-fold">
		<div class="m-page">
			<div class="m-side m-side-front">
				<div class="m-loginForm">
					<div class=""></div>
				</div>
			</div>
			<div class="m-side m-side-back">
				
			</div>
		</div>
		<div class="m-page">
			<div class="m-side m-side-front">
				
			</div>
			<div class="m-side m-side-back">
				
			</div>
		</div>
		<div class="m-labelList">
			<a href="javascript"></a>
		</div>
	</div> -->
	<div class="m-listWrap">
		<a href="javascript:;" class="panleTitle">todoList</a>
		<div class="panleWrap">
			<div class="m-panle m-panle-list">
				<div class="listWrap">
					<ul class="list">
						<li class="m-todoItem">
							<span class="itemLevel"></span>
							<div class="itemTitle">我是标题</div>
							<div class="itemContent">我是内容内容内容内容内容内容内容</div>
						</li>
						<li class="m-todoItem">
							<span class="itemLevel itemLevel-1"></span>
							<div class="itemTitle">我是标题</div>
							<div class="itemContent">我是内容内容内容内容内容内容内容</div>
						</li>
						<li class="m-todoItem">
							<span class="itemLevel itemLevel-2"></span>
							<div class="itemTitle">我是标题</div>
							<div class="itemContent">我是内容内容内容内容内容内容内容</div>
						</li>
						<li class="m-todoItem">
							<span class="itemLevel itemLevel-3"></span>
							<div class="itemTitle">我是标题</div>
							<div class="itemContent">我是内容内容内容内容内容内容内容</div>
						</li>
					</ul>
					<div class="addListBtn">+</div>
				</div>
				<div class="panleMask"></div>
				<div class="friendListWrap">
					<ul class="friendList">
						<li class="m-shareFriend selected"><span class="statu"></span><span class="name">我是好友</span></li>
						<li class="m-shareFriend"><span class="statu"></span><span class="name">我是好友</span></li>
						<li class="m-shareFriend"><span class="statu"></span><span class="name">我是好友</span></li>
						<li class="m-shareFriend selected"><span class="statu"></span><span class="name">我是好友</span></li>
						<li class="m-shareFriend"><span class="statu"></span><span class="name">我是好友</span></li>
						<li class="m-shareFriend"><span class="statu"></span><span class="name">我是好友</span></li>
						<li class="m-shareFriend selected"><span class="statu"></span><span class="name">我是好友</span></li>
						<li class="m-shareFriend"><span class="statu"></span><span class="name">我是好友</span></li>
						<li class="m-shareFriend"><span class="statu"></span><span class="name">我是好友</span></li>
						<li class="m-shareFriend selected"><span class="statu"></span><span class="name">我是好友</span></li>
						<li class="m-shareFriend"><span class="statu"></span><span class="name">我是好友</span></li>
						<li class="m-shareFriend"><span class="statu"></span><span class="name">我是好友</span></li>
					</ul>
					<div class="m-optionWrap clearfix">
						<a class="u-btn u-btn-1" href="javascript:;">分享</a>
						<a class="u-btn u-btn-2" href="javascript:;">取消</a>
					</div>
				</div>
			</div>
			<div class="m-panle m-panle-interact">
				<div class="m-search"></div>
				<ul class="chatList">
					<li class="m-message clearfix">
						<div class="userHeader"><img src=""></div>
						<div class="userName">我是名字</div>
						<div class="userContent">我是内容我是内容我是内容我是内容我是内容我是内容</div>
					</li>
					<li class="m-message m-message-send clearfix">
						<div class="userHeader"><img src=""></div>
						<div class="userName">我是名字</div>
						<div class="userContent">我是内容我是内容我是内容我是内容我是内容我是内容</div>
					</li>
					<li class="m-message clearfix">
						<div class="userHeader"><img src=""></div>
						<div class="userName">我是名字</div>
						<div class="userContent">我是内容我是内容我是内容我是内容我是内容我是内容</div>
					</li>
					<li class="m-message m-message-send clearfix">
						<div class="userHeader"><img src=""></div>
						<div class="userName">我是名字</div>
						<div class="userContent">我是内容我是内容我是内容我是内容我是内容我是内容</div>
					</li>
					<li class="m-message clearfix">
						<div class="userHeader"><img src=""></div>
						<div class="userName">我是名字</div>
						<div class="userContent">我是内容我是内容我是内容我是内容我是内容我是内容</div>
					</li>
					<li class="m-message m-message-send clearfix">
						<div class="userHeader"><img src=""></div>
						<div class="userName">我是名字</div>
						<div class="userContent">我是内容我是内容我是内容我是内容我是内容我是内容</div>
					</li>
				</ul>
				<div class="m-chatWrap">
					<div class="emotionWrap"></div>
					<input type="text" class="sendText"/>
					<a href="javascript:;" class="sendChat">发送</a>
				</div>
			</div>
			<div class="m-panle m-panle-friend">
				<div class="friendListWrap">
					<dl class="m-friendGroup">
						<dt class="friendGroup">我是分组</dt>
						<dd class="m-friend clearfix">
							<div class="userHeader"></div>
							<div class="userName">我是名字</div>
							<div class="userDes">我是介绍我是介绍</div>
						</dd>
						<dd class="m-friend clearfix">
							<div class="userHeader"></div>
							<div class="userName">我是名字</div>
							<div class="userDes">我是介绍我是介绍</div>
						</dd>
					</dl>
					<dl class="m-friendGroup">
						<dt class="friendGroup fold">我是分组</dt>
					</dl>
					<dl class="m-friendGroup">
						<dt class="friendGroup">我是分组</dt>
						<dd class="m-friend clearfix">
							<div class="userHeader"></div>
							<div class="userName">我是名字</div>
							<div class="userDes">我是介绍我是介绍</div>
						</dd>
						<dd class="m-friend clearfix">
							<div class="userHeader"></div>
							<div class="userName">我是名字</div>
							<div class="userDes">我是介绍我是介绍</div>
						</dd>
					</dl>
					<dl class="m-friendGroup">
						<dt class="friendGroup fold">我是分组</dt>
					</dl>
					<dl class="m-friendGroup">
						<dt class="friendGroup">我是分组</dt>
						<dd class="m-friend clearfix">
							<div class="userHeader"></div>
							<div class="userName">我是名字</div>
							<div class="userDes">我是介绍我是介绍</div>
						</dd>
						<dd class="m-friend clearfix">
							<div class="userHeader"></div>
							<div class="userName">我是名字</div>
							<div class="userDes">我是介绍我是介绍</div>
						</dd>
					</dl>
					<dl class="m-friendGroup">
						<dt class="friendGroup fold">我是分组</dt>
					</dl>
					<dl class="m-friendGroup">
						<dt class="friendGroup">我是分组</dt>
						<dd class="m-friend clearfix">
							<div class="userHeader"></div>
							<div class="userName">我是名字</div>
							<div class="userDes">我是介绍我是介绍</div>
						</dd>
						<dd class="m-friend clearfix">
							<div class="userHeader"></div>
							<div class="userName">我是名字</div>
							<div class="userDes">我是介绍我是介绍</div>
						</dd>
					</dl>
					<dl class="m-friendGroup">
						<dt class="friendGroup fold">我是分组</dt>
					</dl>
				</div>
				<div class="panleMask"></div>
				<div class="m-searchWrap">
					<div class="searchInput"></div>
					<div class="searchBtn">取消</div>
					<div class="searchResultWrap">
						<ul>
							<li class="m-friend clearfix">
								<div class="userHeader"></div>
								<div class="userName">我是名字</div>
								<div class="userDes">我是介绍我是介绍</div>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="m-panle m-panle-set hidden"></div>
			<div class="m-panle m-panle-history hidden"></div>
		</div>
	</div>
<script type="text/javascript" src="js/app.js"></script>
</body>
</html>