<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<title>todoList</title>
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>
	<!-- <div class="g-main g-main-fold">
		<div class="m-page">
			<div class="m-side m-side-front">
				<div class="m-loginForm">
					<div class=""></div>
				</div>
			</div>
			<div class="m-side m-side-back">
				
			</div>
		</div>
		<div class="m-page">
			<div class="m-side m-side-front">
				
			</div>
			<div class="m-side m-side-back">
				
			</div>
		</div>
		<div class="m-labelList">
			<a href="javascript"></a>
		</div>
	</div> -->
	<div class="m-listWrap">
		<a href="javascript:;" class="panleTitle">todoList</a>
		<div class="panleWrap">
			<div class="m-panle m-panle-list">
				<ul class="listWrap">
					<li class="m-todoItem">
						<span class="itemLevel"></span>
						<div class="itemTitle">我是标题</div>
						<div class="itemContent">我是内容内容内容内容内容内容内容</div>
					</li>
					<li class="m-todoItem">
						<span class="itemLevel itemLevel-1"></span>
						<div class="itemTitle">我是标题</div>
						<div class="itemContent">我是内容内容内容内容内容内容内容</div>
					</li>
					<li class="m-todoItem">
						<span class="itemLevel itemLevel-2"></span>
						<div class="itemTitle">我是标题</div>
						<div class="itemContent">我是内容内容内容内容内容内容内容</div>
					</li>
					<li class="m-todoItem">
						<span class="itemLevel itemLevel-3"></span>
						<div class="itemTitle">我是标题</div>
						<div class="itemContent">我是内容内容内容内容内容内容内容</div>
					</li>
					<li class="m-todoItem">
						<span class="itemLevel itemLevel-4"></span>
						<div class="itemTitle">我是标题</div>
						<div class="itemContent">我是内容内容内容内容内容内容内容</div>
					</li>
				</ul>
				<div class="m-optionWrap">
					
				</div>
			</div>
			<div class="m-panle m-panle-friend hidden"></div>
			<div class="m-panle m-panle-set hidden"></div>
			<div class="m-panle m-panle-interact hidden"></div>
			<div class="m-panle m-panle-history hidden"></div>
		</div>
	</div>
<script type="text/javascript" src="js/app.js"></script>
</body>
</html>