/* .g-main{width: 400px;height:550px;position: absolute;top:50%;left:50%;margin-top:-275px;-webkit-transition:all 500ms linear;perspective:2000px;}
.g-main-fold{margin-left:-200px;}

.g-main-fold .m-page{width: 100%;}
.m-page{-webkit-transform-style:preserve-3d;width: 100%;height:100%;position: relative;transform-origin:left center;position: absolute;top:0;left:0;}
.m-side{width: 100%;height:100%;position: absolute;top:0;left:0;backface-visibility:hidden;background: #fff;border:1px solid #ccc;}
.m-side-front{}
.m-side-back{-webkit-transform:rotateY(180deg)} */

::-webkit-scrollbar {
  width: 3px;
  height: 9px;
}

::-webkit-scrollbar-track-piece {
  background-color: transparent;
  height: 2px;
}

body::-webkit-scrollbar-track-piece {
  background-color: white;
}

::-webkit-scrollbar-track-piece:no-button {}

::-webkit-scrollbar-thumb {
  -webkit-transition:all 200ms linear;
  background-color: rgba(0,0,0,0.3);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}

::-webkit-scrollbar-thumb:active {
  background-color: #aaa;
}
/* 
::-webkit-scrollbar-button:vertical { width: 9px; }
::-webkit-scrollbar-button:horizontal { width: 9px; }
::-webkit-scrollbar-button:vertical:start:decrement { background-color: white; }
::-webkit-scrollbar-button:vertical:end:increment { background-color: white; }
::-webkit-scrollbar-button:horizontal:start:decrement { background-color: white; }
::-webkit-scrollbar-button:horizontal:end:increment { background-color: white; } */


body{font-family: "微软雅黑"}
.hidden{display: none;}
.m-listWrap{position:fixed;right:0;bottom:0;width:400px;font-size: 14px;color:#888;box-shadow: 0 -1px 3px rgba(0,0,0,0.5);border-radius: 5px 0 0 0;}
.m-listWrap .panleTitle{width: 100%;display: block;text-align: center;color:#fff;background: #555;border-radius: 5px 0 0 0;height:30px;line-height: 30px;}
.m-panle{position:relative;width: 50%;height:300px;background: #fff;float:left;}
.m-panle .panleMask{position: absolute;top:0;left:0;width: 100%;height:100%;background: rgba(0,0,0,0.5)}

.m-panle-list .listWrap{}
.m-panle-list .listWrap .list{position: absolute;top:0;left:0;width: 100%;bottom:30px;overflow-y:auto;}
.m-todoItem{position:relative;border-bottom:1px solid #ddd;padding:5px;}
.m-todoItem .itemLevel{position: absolute;display: block;border-radius: 50%;height:6px;width: 6px;top:9px;left:9px;border:3px solid #555;}
.m-todoItem .itemLevel-1{border-color:#f00;}
.m-todoItem .itemLevel-2{border-color:#fa0;}
.m-todoItem .itemLevel-3{border-color:#0d6;}
.m-todoItem .itemTitle{color:#222;padding:0 0 2px 20px;border-bottom:1px solid #eee;}
.m-todoItem .itemContent{font-size: 12px;}

.m-panle-list .addListBtn{text-align: center;color:#666;width: 100%;position: absolute;bottom:0;left:0;line-height: 30px;border-top:1px solid #ccc;background: #ddd;-webkit-transition:all 300ms linear;cursor:pointer;font-size:30px;font-weight: bold;}
.m-panle-list .addListBtn:hover{background: #0af;color:#fff;}



.m-panle-list .friendListWrap{position: absolute;top:0;left:50px;bottom:0;width: 150px;background: #fff;border-left:1px solid #ddd;}
.m-shareFriend{line-height: 30px;font-size: 14px;padding-left:16px;position: relative;cursor: pointer;border-bottom:1px solid #ddd;}
.m-shareFriend .statu{display: block;position: absolute;width: 6px;height: 6px;border:2px solid #555;border-radius:3px;top:10px;left:3px;}
.m-shareFriend.selected{color:#222;}
.m-shareFriend.selected .statu{background: #0af;}
.m-panle-list .friendListWrap .friendList{position: absolute;top:0;right:0;left:0;bottom:30px;overflow: auto;}

.m-optionWrap{position: absolute;width: 100%;bottom:0;border-top:1px solid #ddd;background: #fff;height:30px;}
.m-optionWrap .u-btn{border:1px solid #eee;background: #aaa;color:#fff;display: block;float:left;text-align: center;width:50px;border-radius:4px;line-height: 20px;margin-top: 5px;}
.m-optionWrap .u-btn-1{background:#0af;margin-left:15px;}
.m-optionWrap .u-btn-2{background:#aaa;float: right;margin-right: 15px;}

.m-panle-interact .chatList{position: absolute;width: 100%;top:0;bottom:30px;overflow-y:auto;}

.m-message{width: 100%;margin:10px 0;font-size:12px;}
.m-message .userHeader{width: 30px;height: 30px;float: left;background: #ccc;margin:5px 0 0 5px;}
.m-message .userName{margin-left:40px;font-size: 12px;}
.m-message .userContent{position:relative;margin:6px 5px 0 45px;padding:4px;background: #cfedf7;border-radius:4px;color:#000;}
.m-message .userContent:after{content: "";display: block;position: absolute;top:-4px;left:-4px;border:8px solid transparent;border-top:none;border-bottom:13px solid #cfedf7;-webkit-transform:rotate(70deg);}

.m-message-send{}
.m-message-send .userHeader{float: right;margin:5px 5px 0 0;}
.m-message-send .userName{margin-right:40px;margin-left: 0;text-align: right;}
.m-message-send .userContent{margin:6px 45px 0 5px;}
.m-message-send .userContent:after{-webkit-transform:rotate(-70deg);left:auto;right:-4px;}

.m-chatWrap{position:absolute;height:30px;line-height: 20px;bottom:0;width: 100%;background: #ddd;background: #fff;border-top: 1px solid #ddd;font-size: 12px;}
.m-chatWrap .emotionWrap{width: 20px;height:20px;float:left;background: #ccc;margin:5px 0 0 5px;}
.m-chatWrap .sendText{float:left;height: 20px;line-height: 20px;margin:5px 0 0 5px;width:130px;}
.m-chatWrap .sendChat{float: left;display: block;margin:5px 0 0 5px;width: 35px;text-align: center;background:#0af;color:#fff;border-radius:2px;}


.m-panle-friend .friendListWrap{position: absolute;top:0;left:0;width: 100%;height:100%;overflow: auto;}
.m-friendGroup{width: 100%;border-top:1px solid #ddd;margin-top:-1px;}
.m-friendGroup .friendGroup{position:relative;height: 25px;line-height: 25px;font-size: 14px;padding-left:20px;border-bottom: 1px solid #ddd;}
.m-friendGroup .friendGroup:after{content:"";display: block;width:0;height:0;position: absolute;border:5px solid transparent ;border-top:5px solid #555	;top:8px;left:5px;-webkit-transform:rotate(0deg);}
.m-friendGroup .fold:after{-webkit-transform:rotate(-90deg);left:8px;}
.m-friend .userHeader{background: #ccc;border-radius: 3px;}
.m-friend{border-bottom: 1px solid #eee;margin-left:15px;line-height:20px;}
.m-friend .userHeader{float: left;width: 30px;height:30px;margin:5px;}
.m-friend .userName,.m-friend .userDes{margin-left: 40px;color:#555;}
.m-friend .userDes{color:#888;font-size: 12px;}


.m-searchWrap{position: absolute;top:0;left:0;width: 100%;height: 100%;}

.m-searchWrap .searchResultWrap{}